#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
max-width: auto;
width: auto;
min-width: 300px;
}

.style-gral{
  border: 1px rgba(128,128,128,0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Efecto de sombreado */
  background-color: white; /* RGBA(Grises, Opacidad) */
  border-radius: 5px;
  width: auto;
  min-width: 300px;
}

@font-face {
  font-family: 'appFont';
  src: url('../src/assets/fonts/Edu_TAS_Beginner/static/EduTASBeginner-Medium.ttf');
}
@font-face {
  font-family: 'pFont';
  src: url('../src/assets/fonts/Kalam/Kalam-Regular.ttf');
}

h1, h2, h3, label{
  color: #45544e;
  font-family: 'appFont', sans-serif;
}
p, h4{
  font-size: 20px;
  color: #45544e;
  font-family: 'pFont', serif;
}
@media (prefers-color-scheme: dark) {
  h1, h2, h3, label {
    color: #45544e;
    font-family: 'appFont', sans-serif;
  }
  p, h4{
    font-size: 20px;
    color: #45544e;
    font-family: 'pFont', serif;
  }
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}




.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} 
/*pantallas pequeñas*/


@media screen and (min-width: 300px) and (max-width: 600px) {
  #root {
    padding: 2rem;
    text-align: center;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    min-width: 300px;
  }
  .style-gral{
    border: 1px rgba(128,128,128,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: white;
    border-radius: 5px;
    display: grid;
    min-width: 300px;    
  }
  h1, h2, h3, label{
    color: #45544e;
    font-family: 'appFont', sans-serif;
    font-size: 24px;
  }
  p, h4{
    font-size: 20px;
    color: #45544e;
    font-family: 'pFont', serif;
  }
  @media (prefers-color-scheme: dark) {
    h1, h2, h3, label {
      color: #45544e;
      font-family: 'appFont', sans-serif;
      font-size: 24px !important;
    }
    p, h4{
      font-size: 20px !important;
      color: #45544e;
      font-family: 'pFont', serif;
    }
  }
 

  .logo {
    height: 5em;
    padding: 1.5em;
  }

  .card {
    padding: 1.5em;
  }
}
/*pantallas medianas*/
@media screen and (min-width:600px) and (max-width:768px){
  #root {    
    padding: 2rem;
    text-align: center;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  .style-gral{
    border: 1px rgba(128,128,128,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: white;
    width: auto;
    border-radius: 5px;
    display: grid;
  }

  .logo {
    height: 5em;
    padding: 1.5em;
  }

  .card {
    padding: 1.5em;
  }
}

/*pantallas grandes*/
@media screen and (min-width: 768px) and (max-width:992px){
  #root {    
    padding: 2rem;
    text-align: center;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  .style-gral{
    border: 1px rgba(128,128,128,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: white;
    width: auto;
    border-radius: 5px;
    display: grid;
  }

  .logo {
    height: 5em;
    padding: 1.5em;
  }

  .card {
    padding: 1.5em;
  }
}
/*pantallas extra grandes*/
@media screen and (min-width: 992px) {
  #root {    
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    max-width: 1280px;
  }
  .style-gral{
    border: 1px rgba(128,128,128,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: white;
    max-width: auto;
    border-radius: 5px;
    display: grid;
  }

  .logo {
    height: 5em;
    padding: 1.5em;
  }

  .card {
    padding: 1.5em;
  }
  
}
@media screen and (orientation: portrait){
  #root div {
    width: 100vw;
  }
  
  }