/* Estilos para el temporizador */
.temporizador-container {    
    position: sticky;
    top: 0; /* Ajusta esto según tus necesidades */
    background-color: #8a9b92; /* Cambia esto al color de fondo que desees */
    padding: 10px;
    z-index: 1; /* Asegura que el temporizador esté por encima del contenido */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Texto centrado */
    border-radius: 3px; /* Agrega un borde redondeado */
    border: 1px solid rgba(128,128,128,0.5);
    text-align: center;
    color: #dae7e0;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
  }


/* WhatsAppButton.css */
.whatsapp-button {
    position: fixed;
    right: 20px;
    bottom: 50%; /* Centra verticalmente */
    transform: translateY(50%); /* Ajusta la posición vertical */
    width: 150px;
    height: 120px;
    cursor: pointer;
    z-index: 1;
    /* Agrega estilos de diseño, como fondo, bordes, etc. */
  }
  
/* ConfirmacionButton.css */
.confirmacion-button {
    background-color: #8a9b92;
    color: white;
    padding: 10px 20px;
    position: fixed;
    right: 40px;
    bottom: 70%; /* Centra verticalmente */
    transform: translateY(70%); /* Ajusta la posición vertical */
    width: 160px;
    height: 80px;
    cursor: pointer;
    z-index: 2;
    /* Agrega otros estilos necesarios */
  }

/* ModalConfirmacion.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo gris semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px; /* Ajusta según tu diseño */
  }

  /* ... Otros estilos */
  .modal h2 {
    margin-top: 0;
  }
  
  .modal p {
    margin-bottom: 20px;
  }
  
  .modal select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }

  /*... Layout transicion 1 */
  .transicionUno{
    display: grid;
  }

  .transicionHistory {
    display: flex;
    align-items: flex-start; /* Alinea los elementos arriba en lugar de centrarlos verticalmente */
    gap: 20px; /* Agrega espacio entre los divs */
  }
  
  .transicionHistory > div {
    flex: 1;
    text-align: left;
  }
  
  .transicionLeaf {
    order: 1; /* Cambia el orden para que aparezca primero */
  }
  
  .transicionLabel {
    order: 2; /* Cambia el orden para que aparezca después */
    margin-top: 120px; /* Agrega margen superior para separar de .transicionLeaf */
  }

  .transicionImgEnd{
    position: relative;
    text-align: right;
    padding-top: 80px;
  }

  .transicionEnd{
    width: 1280;
    height: 200;
    background-color: #8a9b92;
  }

  /*... Layout INFORMACION*/

  .layoutInfo{
    display: flex;
  }