/*import font*/
@font-face {
  font-family: 'appFont';
  src: url('../fonts/Edu_TAS_Beginner/static/EduTASBeginner-Medium.ttf');
}
@font-face {
  font-family: 'modalFont';
  src: url('../fonts/Kalam/Kalam-Regular.ttf');
}

/* Estilos para el temporizador */
.temporizador-container {    
    position: sticky;
    top: 0; /* Ajusta esto según tus necesidades */
    background-color: #45544e; /* Cambia esto al color de fondo que desees */
    padding: 10px;
    z-index: 1; /* Asegura que el temporizador esté por encima del contenido */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Texto centrado */
    border-radius: 3px; /* Agrega un borde redondeado */
    border: 1px solid rgba(128,128,128,0.5);
    text-align: center;
    color: #dae7e0;
    font-size: 32px;
    font-family: 'appFont', sans-serif;
  }


/* WhatsAppButton.css */
.whatsapp-button {
    position: fixed;
    right: 20px;
    bottom: 50%; /* Centra verticalmente */
    transform: translateY(50%); /* Ajusta la posición vertical */
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 1;
    border-radius: 10px;
  }
  
/* ConfirmacionButton.css */
.confirmacion-button {
    background-color: #45544e;
    color: #dae7e0;
    position: fixed;
    right: 40px;
    bottom: 70%; /* Centra verticalmente */
    transform: translateY(70%); /* Ajusta la posición vertical */
    width: 160px;
    height: 80px;
    cursor: pointer;
    z-index: 2;
    border: 1px solid black;
    font-family: 'modalFont', sans-serif;
    font-size: 18px;
  }

/* ModalConfirmacion.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo gris semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px; /* Ajusta según tu diseño */
  }

  /* ... Otros estilos */
  .modal h2 {
    margin-top: 0;
    font-family: 'appFont', sans-serif;
  }
  
  .modal p {
    margin-bottom: 20px;
    font-family: 'appFont', sans-serif;
  }
  
  .modal select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'modalFont', sans-serif;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    font-family: 'modalFont', sans-serif;
  }

/*... Layout Principal */
.imagenPRL {
  display: flex;
  margin: 0;
  padding: 0;
  max-height: 1880px;
  align-items: flex-start;
}

  /*... Layout transicion 1 */
  .transicionUno{
    display: grid;
  }

  .transicionHistory {
    display: flex;
    align-items: flex-start; /* Alinea los elementos arriba en lugar de centrarlos verticalmente */
    gap: 20px; /* Agrega espacio entre los divs */
  }
  
  .transicionHistory > div {
    flex: 1;
    text-align: left;
  }
  
  .transicionLeaf {
    order: 1; /* Cambia el orden para que aparezca primero */
  }
  
  .transicionLabel {
    order: 2; /* Cambia el orden para que aparezca después */
    margin-top: 120px; /* Agrega margen superior para separar de .transicionLeaf */
    margin-right: 100px;
    padding-right: 60px;
    margin-bottom: 20px;
    text-align: center;
  }
  .transicionLabel > p{
    font-size: 22px;
  }
  .transicionImgEnd{
    position: relative;
    text-align: right;
    padding-top: 80px;
  }

  .transicionEnd{
    width: 1280;
    height: 200;
    background-color: #8a9b92;
  }

  /*... Layout INFORMACION*/

  .layoutInfo {
    display: flex;
    align-items: flex-start; /* Alinear los elementos arriba */
  }
  
  .layoutInfo > div {
    margin-right: 40px;
    text-align: left;
  }
  .layoutInfo > div > div > h1{
    max-width: 300px; /* Cambia esto según tus necesidades */
    margin: 0 auto; /* Centra el elemento horizontalmente */
  }

  .layoutInfo > div > div > h2{
    max-width: 300px; /* Cambia esto según tus necesidades */
    margin: 0 auto; /* Centra el elemento horizontalmente */
  }

  .layoutInfo > div > div > h4{
    max-width: 300px; /* Cambia esto según tus necesidades */
    margin: 0 auto; /* Centra el elemento horizontalmente */
  }
  .ceremoniaLbl{
    margin-left: 8%;
    margin-top: 20%;
  }
  
  .map {
    flex: 1; /* Hace que el div del mapa ocupe todo el espacio restante */
    border-radius: 8px;
    overflow: hidden;
    margin-top: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra alrededor del mapa para resaltarlo */
  }
  
  .map iframe {
    width: 100%;
    height: 400px;
    border: none;
  }
  .contMap{
    text-align: center;
  }
  .buttonMaps{
    background-color: #45544e;
    color: #dae7e0;
    width: 10vw;
    height: 4vw;
    cursor: pointer;
    border: 1px solid black;
    font-family: 'modalFont', sans-serif;
    font-size: 20px;
  }

  /*... Layout SALON*/  

  .layoutSalon{
    display: grid;
    margin-top: 20px;
    margin-left: 130px;
    text-align: left;
  }

  .imagenesPortal{
    display: flex;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 120px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: auto;
  }

  .imagenesPortal > div {
    display: flex;
    align-items: auto;
    justify-content: space-between;
    border: 0.5px solid grey;
    border-radius: 3px;    
 }

  .modalSalon {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 1000; /* Asegura que esté en la parte superior */
    cursor: pointer; /* Cambia el cursor para indicar que se puede hacer clic para cerrar */
  }
  
  .modalSalon img {
    max-width: 90%; /* Limita el ancho máximo de la imagen */
    max-height: 90%; /* Limita la altura máxima de la imagen */
    border: 2px solid #fff; /* Añade un borde blanco a la imagen */
    border-radius: 12px;
  }
  
  .modalSalon img:hover {
    transform: scale(1.05); /* Agranda la imagen al pasar el mouse por encima */
  }

  .imgEndSalon{
    display: flex;
    position: relative;
    margin-left: 1100px;
    text-align: right;
  }
   /*... Layout COFRE*/  
  .layoutCofre{
    display: grid;
    position: relative;
    margin-top: 20px;
    text-align: left;
  }

  .imgUno{
    margin-left: 1100px;
  }
  
  .labelMsg {
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos al principio verticalmente */
  }
  
  .imageRings {
    flex: 1; /* Ocupa el espacio disponible */
    order: 1; /* Puedes ajustar el orden según tus necesidades */
    margin-left: 80px;
    margin-bottom: 80px;
  }
  
  .imageChest {
    flex: 1; /* Ocupa el espacio disponible */
    order: 3; /* Puedes ajustar el orden según tus necesidades */
    margin-right: 20px;
    margin-top: 80px;
  }
  
  .labelMsg > h2 {
    margin-top: 50px;
    margin-right: 120px;
    flex: 1;
    order: 2;
    font-size: 36px;
  }
  

  .imgDos{
    margin-left: 30px;
  }

  /*.. Layout CONFIRMACION*/
  .textMenu{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .buttonWa{
    max-width: 180px;
    width: 180px;
    height: 160px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 550px;
    background-color: white;
  }
  @media (prefers-color-scheme: dark){
    .buttonWa{
      background-color: white;
    }
    .confirmacionWa{
      background-color: white;
    }
    .submitWhat{
      background-color: white;
    }
  }
  .confirmacionWa{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-color: white;
  }

  .confirmacionBut {
    background-color: #45544e;
    color: #dae7e0;
    width: 250px;
    height: 80px;
    border: 1px solid black;
    font-family: 'modalFont', sans-serif;
    font-size: 22px;
  }

  .finalTransi{
    background-color: #8a9b92;
  }


  @media screen and (orientation: portrait){
    .temporizador-container {    
      position: sticky;
      top: 0; /* Ajusta esto según tus necesidades */
      background-color: #45544e; /* Cambia esto al color de fondo que desees */
      padding: 1%;
      z-index: 1; /* Asegura que el temporizador esté por encima del contenido */
      display: flex;
      justify-content: center; /* Centra horizontalmente el contenido */
      align-items: center; /* Centra verticalmente el contenido */
      text-align: center; /* Texto centrado */
      border-radius: 3px; /* Agrega un borde redondeado */
      border: 1px solid rgba(128,128,128,0.5);
      text-align: center;
      color: #dae7e0;
      font-size: 32px;
      font-family: 'appFont', sans-serif;
      width: 98vw !important;
    }

    /* WhatsAppButton.css */
.whatsapp-button {
  position: fixed;
  right: 20px;
  bottom: 88%; /* Centra verticalmente */
  transform: translateY(50%); /* Ajusta la posición vertical */
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 1;
  border-radius: 10px;
}

/* ConfirmacionButton.css */
.confirmacion-button {
  background-color: #45544e;
  color: #dae7e0;
  position: fixed;
  right: 40px;
  bottom: 85%; /* Centra verticalmente */
  transform: translateY(70%); /* Ajusta la posición vertical */
  width: 20vw;
  height: 10vw;
  cursor: pointer;
  z-index: 2;
  border: 1px solid black;
  font-family: 'modalFont', sans-serif;
  font-size: 1.5rem;
}
/* ModalConfirmacion.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo gris semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 130vw !important; /* Ajusta según tu diseño */
  height: 45vw;
}

/* ... Otros estilos */
.modal h2 {
  margin-top: 0;
  font-family: 'appFont', sans-serif;
  font-size: 2rem;
}

.modal p, label {
  margin-bottom: 20px;
  font-family: 'appFont', sans-serif;
  font-size: 1.7rem;
}

.modal select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'modalFont', sans-serif;
  font-size: 1.5rem;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 5%;
  font-family: 'modalFont', sans-serif;
  font-size: 1.5rem;
}
 
    .layoutSalon{
      display: grid;
      margin-top: 20px;
      margin-left: 130px;
      text-align: left;
      width: 80% !important;
    }
    .buttonMaps{
      background-color: #45544e;
      color: #dae7e0;
      width: 20vw;
      height: 10vw;
      cursor: pointer;
      border: 1px solid black;
      font-family: 'modalFont', sans-serif;
      font-size: 1.5rem;
    }
  
    .imagenesPortal{
      display: flex;
      overflow: hidden;
      margin-top: 20px;
      margin-right: 120px;
      margin-bottom: 15px;
      justify-content: space-between;
      align-items: auto;
       width: 80% !important;
    }
  
  
    .imgUno{
      margin-left: 80%;
      width: 160px !important;
    }
    .imgEndSalon{
      display: flex;
      position: relative;
      margin-left: 80%;
      text-align: right;
      width: 160px !important
    }
  
    .transicionEnd{
      width: 100vw;
      height: 0.14vw;
      background-color: #8a9b92;
    }
    .buttonWa{
      max-width: 180px;
      width: 180px;
      height: 160px;
      padding-bottom: 10px;
      border-radius: 10px;
      margin-left: 25%;
      background-color: white;
    }
    .checkbox{
      width: 100% !important;
    }
    .modal-buttons{
      width: 100% !important;
    }
    .whatsapp-button{
      z-index: 0;
    }
    .submitWhat{
      margin-left: 86%;
      width: 90px;
      height: 90px;
    }
    .layoutInfo{
      display: grid;
      text-align: left;
    }
    .contenedorInfo{
      display: flex;
      text-align: left;
    }
    .imgInfo{
      margin-top: 7.8%;
    }
    .ceremoniaLbl{
      text-align: left;
      margin-top: 40%;
    }
    .map {
      border-radius: 8px;
      overflow: hidden;
      width: 95vw !important;
      margin-left: 2%;
      margin-top: 2%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra alrededor del mapa para resaltarlo */
    }
    
    .map iframe {
      width: 100%;
      height: 50vw !important;
      border: none;
    }
    .modalExito{
      width: 100% !important;
    }
    }